# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore data files
data/
*.h5
*.csv

# Ignore model checkpoints
checkpoints/
*.ckpt

# Ignore log files
logs/
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/